@import "tailwindcss";

.pixel-blast-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

body {
  background-color: #000;
  color: #fff;
  
}

.pixel-font {
  font-family: "Pixelify Sans", sans-serif;
}

.dotgothic-font {
  font-family: "DotGothic16", sans-serif;
}

.pixel-letter {
  display: inline-block;
  opacity: 0;
  transform: translateY(-10px); 
  animation: pixelDrop 0.5s forwards;
}

@keyframes pixelDrop {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  50% {
    opacity: 1;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.pixel-box-hard {
  position: relative;
  background: rgba(0, 0, 0, 0.9);
  image-rendering: pixelated;

  /* white pixel frame */
  box-shadow:
    /* top */
    0 -0.25em 0 0 #fff,

    /* left */
    -0.25em 0 0 0 #fff,
 
    /* right */
    0.25em 0 0 0 #fff,

    /* bottom */
    0 0.25em 0 0 #fff,
  
    /* depth shadow */
    0.5em 0.5em 0 0 #5f5959,
    0.75em 0.75em 0 0 #3d3939;
}
.pixel-box-hard::before,
.pixel-box-hard::after {
  content: '';
  position: absolute;
  width: 0.35em;
  height: 0.35em;
  background: #000;
}

.pixel-box-hard::before {
  top: -0.15em;
  left: -0.15em;
}

.pixel-box-hard::after {
  bottom: -0.15em;
  right: -0.15em;
}

@keyframes dungeonDrop {
  0% {
    transform: translateY(-2.5em) scaleY(0.6);
    opacity: 0;
  }

  40% {
    transform: translateY(0.4em) scaleY(1.1);
    opacity: 1;
  }

  65% {
    transform: translateY(-0.15em) scaleY(0.95);
  }

  85% {
    transform: translateY(0.05em) scaleY(1.02);
  }

  100% {
    transform: translateY(0) scaleY(1);
  }
}

.pixel-dungeon-enter {
  animation: dungeonDrop 0.9s steps(6, end);
}

